/*
<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Nunito:400,600,700" rel="stylesheet">
font-family: 'Nunito', sans-serif;
font-family: 'Cabin', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Nunito:400,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------------------Colours----*/
body {
    background-color: #a9bcc2  /*lightblue*/
}

/*---------------------------------------------Special padding/margins/text----*/

h1,
h2, 
h3, 
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

/*---------------------------------------------Heading----*/
header{
    margin:0;
}

.heading {
    margin-left: 50px;
}

.menuitem {
    height: 80px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    /*color: #ffffff; /*white*/
    color: #ECE5DD; /*white chocolate*/
    height: 50px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #ECE5DD; /*white chocolate*/
    font-size: 20px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 2px;
}

.menu-color {
    background-color: #81979b; /*teal*/
}



/*---------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(69, 53, 69, 0.1);
    height: 120px;
}