@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,600i,700,700i|Nunito:300,400,600,600i,700,700i|Shadows+Into+Light+Two');

/*---------------------------------------------Colours----*/
body {
    background-color: #a9bcc2;  /*lightblue*/
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: medium;
}


/*---------------------------------------------Special padding/margins/text----*/

h1,
h2, 
h3, 
h4 {
    margin: 0;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

/*---------------------------------------------Heading----*/
header{
    margin:0;
}

.heading {
    margin-left: 50px;
}

.title-row {
    background-color: #323433;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #cbbc97;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 12px;
    padding-bottom: 6px;
}

.nav-bar  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #81979b; /*teal*/
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 2px;
    min-height: 40px;
}

.nav-bar li a:hover:not(.active-page) {
    background: rgba(22, 22, 22, 0.1);  /*darker teal*/
}

.active-page {
    background-color: #ccd5d7;
}

/*----------------------------------------Flexbox Containers-------*/
.main-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding:0;
}

.main-section {
    background-color: rgba(241, 237, 228, 0.8);
    flex: 1 100%;
}

.sidebar-section {
    background-color: #E4EDF1;
    flex: 1 100%;
}

/*-----------------------------------Homepage sidebar grid--*/
.gd-latest-head { grid-area: latest-head; }
.gd-headphones-img { grid-area: headphones-img; }
.gd-track-cover1 { grid-area: track-cover1; }
.gd-track-title1 { grid-area: track-title1; }
.gd-audio-block1 { grid-area: audio-block1; }
.gd-track-cover2 { grid-area: track-cover2; }
.gd-track-title2 { grid-area: track-title2; }
.gd-audio-block2 { grid-area: audio-block2; }
.gd-newsletter-head { grid-area: news-head; }
.gd-newsletter-sub { grid-area: news-sub; }
.gd-newsletter-email { grid-area: news-email; }
.gd-newsletter-button { grid-area: news-btn; }

.home-sidebar-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /*Mobile Layout*/
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 
  'latest-head latest-head latest-head'
  'headphones-img headphones-img headphones-img'
  'track-cover1 track-cover1 track-cover1'
  'track-title1 track-title1 track-title1'
  'audio-block1 audio-block1 audio-block1'
  'track-cover2 track-cover2 track-cover2'
  'track-title2 track-title2 track-title2'
  'audio-block2 audio-block2 audio-block2'
  'news-head news-head news-head'
  'news-sub news-sub news-sub'
  'news-email news-email news-btn';
  
  grid-gap: 1px;
  padding: 4px;
  margin-bottom: 10px;
}

.gd-audio-block1 audio, .gd-audio-block2 audio { 
    width: 280px; 
    align-items: center;
}

.form-control {
    display: inline-block;
    width: 65%;
    margin-left: 25px;
}

.btn-secondary {
    font-size: small;
    padding: 6px 3px;
    margin-bottom: -4px;
}


/*---------------------------------------------Images----*/
img.main-img {
    width: 315px;
    height: 210px;
    margin-left: 8px;
}

.gd-track-cover1 img, .gd-track-cover2 img {
    /*225x224*/
    width: 240px;
    height: 240px;
}

.bio-img {
    width: 100%;
    height: auto;
    /*width: 340px;
    height: 210px;*/
    /*border-radius: 50%;*/
}

.album-cover {
    width: 100%;
    height: auto;
}

/*---------------------------------------------Band Bio----*/

.band-bio {
   margin: 15px 5px 4px 5px;
}

.bio-name-head {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
}
.next-events-box {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: groove;
    border-color: #E4EDF1;
    padding: 5px;
}

/*---------------------------------------------Band Details Flexbox*/

.band-info-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}


.band-info-container > * {   
    /*Set all items within the container to have same padding*/
    padding: 10px;
    /*flex: 1 100%;*/
}

.band-intro {
   flex: 1 100%;
}

.profile-pic {
    flex: 0 1 100%;
}

.profile-details {
    flex: 0 1 100%;
}

/*---------------------------------------------Band Info*/
.picture-album h5 {
    font-size: 20px;
    text-align: center;
}
.gallery-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}
.gallery {
    margin: 10px;
    border: 17px solid transparent;
    padding: 5px;
    margin-bottom: 40px;
    border-image: url(../images/pic-border.png) 17 round;
} 

.gallery-img-style {
    width: 95%;
    height: auto;
}

/*---------------------------------------------Albums*/
.item1 { grid-area: album-title; }
.item2 { grid-area: album-cover; }
.item3 { grid-area: track-header; }
.item4 { grid-area: tracks1; }
.item5 { grid-area: tracks2; }
.item6 { grid-area: album-footer; }

.grid-container {
  display: grid;
  /*Mobile Layout*/
  grid-template-areas: 
  'album-title'
  'album-cover'
  'track-header'
  'tracks1'
  'tracks2'
  'album-footer';
  
  grid-template-columns: auto ;
  grid-gap: 0.5px;
  background-color: #81979b; /*teal*/
  padding: 4px;
  margin-bottom: 10px;
}
.grid-container > div {
  background-color: rgba(241, 237, 228, 0.8); /*beige*/
  padding: 5px 0;
  font-size: 14px;
}

div.item1, div.item2, div.item3 {
    text-align: center;
    place-self: center stretch;
}
div.item2 {
    padding-top: 10px;
    padding-bottom: 1f 0px;
}

div.item4, div.item5, div.item6 {
    text-align: left;
}
.item4 h4, .item5 h4, .item6 h4 {
    margin-left: 8px;
}

/*---------------------------------------------Videos*/
.vid-item1 { grid-area: main-video; }
.vid-item2 { grid-area: main-video-info; }
.vid-item3 { grid-area: more-video1; }
.vid-item4 { grid-area: more-video-title1; }
.vid-item5 { grid-area: more-video2; }
.vid-item6 { grid-area: more-video-title2; }

.video-grid-container {
  display: grid;
  /*Mobile Layout*/
  grid-template-areas: 
  'main-video'
  'main-video-info'
  'more-video1'
  'more-video-title1'
  'more-video2'
  'more-video-title2'
  'more-video3'
  'more-video-title3';
  
  grid-template-columns: auto ;
  grid-gap: 0px;
  background-color: #81979b; /*teal*/
  padding: 4px;
  margin-bottom: 10px;
}
.video-grid-container > div {
  background-color: rgba(241, 237, 228, 0.8); /*beige*/
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}

div.vid-item1, div.vid-item2, div.vid-item3 {
    text-align: center;
    place-self: center stretch;
}
div.vid-item2 {
    padding-top: 10px;
    padding-bottom: 1f 0px;
}

video {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 97%;
    height: auto;
}

/*---------------------------------------------Event Bookings*/
.booking-details  {
    padding: 10px 8px 25px 8px;
}


/*----------------------Booking form grid------*/
.booking-item-head {
  grid-area: Header;
}
.booking-item-name {
  grid-area: Name;
}
.booking-item-phone {
  grid-area: Phone;
}
.booking-item-email {
  grid-area: Email;
}
.booking-item-etype-label {
  grid-area: etype-label;
}
.booking-item-etype-options1 {
  grid-area: etype-options1;
}
.booking-item-etype-options2 {
  grid-area: etype-options2;
}
.booking-item-etype-options3 {
  grid-area: etype-options3;
}
.booking-item-etype-options4 {
  grid-area: etype-options4;
}
.booking-item-etype-options5 {
  grid-area: etype-options5;
}
.booking-item-loc-label {
  grid-area: loc-label;
}
.booking-item-loc-list {
  grid-area: loc-list;
}
.booking-item-date-label {
  grid-area: date-label;
}
.booking-item-date-picker {
  grid-area: date-picker;
}
.booking-submit-button {
    grid-area: submit-btn;
}

.form-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 'Header Header Header Header'
  'Name Name Name Name' 
  'Phone Phone Phone Phone' 
  'Email Email Email Email'
  'etype-label etype-label etype-label etype-label'
  'etype-options1 etype-options1 etype-options2 etype-options2'
  'etype-options3 etype-options3 etype-options4 etype-options4'
  'etype-options5 etype-options5 etype-options5 etype-options5' 
  'loc-label loc-label date-label date-label'
  'loc-list loc-list date-picker date-picker'
  'submit-btn submit-btn submit-btn submit-btn';
  grid-gap: 0px;
  background-color: #81979b;
  width: 100%;
  padding: 2px;
}
.booking-item-head {
    font-size: 10px;
}
.form-grid-container > div {
  background-color: rgba(241, 237, 228, 0.8);
  text-align: center;
  padding: 12px 15px;
  font-size: 10px;
  min-height: 55px;
}

div.booking-item-etype-options1, div.booking-item-etype-options2, 
div.booking-item-etype-options3, div.booking-item-etype-options4,
div.booking-item-loc-list, div.booking-item-date-picker, 
div.booking-submit-button {
    margin-left: 0;
    padding: 0px 5px 1px 2px;
    text-align: center;
    justify-content: flex-start;
}
#select-loc, #req-date {
    width: 85%;
}
#et-label,  #loc-label, #date-label {
    padding-bottom: 0;
    min-height: 35px;
    font-size: medium;
}

.booking-submit-button > button {
    width: 80px;
}

/*-----------------------------------------------------------------Modal Box for Form*/
    /*---------Modal -background */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

    /*---------Modal -content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

    /*---------Modal -Close button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*----------------------Reviews sidebar------*/

.reviews-container {
    width: auto;
    margin: 7px 30px 15px 30px;
}

#review-head {
    text-align: center;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}

.review-border {
    border: double;
    border-color: #81817E;
    margin-top: 7px;
    padding: 2px;
}

.review-title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

.review-sub-title {
    font-family: Nunito, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 13px;
    margin-left: 3px;
    margin-right: 3px;
}

.review-details {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 14px;
    padding:12px;
}
.rating-title {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 11px;
}

.rating-star-style {
    font-size: 10px;
}

/*---------------------------------------------Footer*/

footer {
    color: #fcfcfc;
    background-color: #c1c7cd;
    font-size: 16px;
    min-height: 120px;
    margin: 0;
}

#social-media {
    padding-left: 25vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.social-media-links {
    padding-bottom: 15px;
    margin-left: 25vw;
}

.social-media-links li a i {
    text-align: center;
    color: #fcfcfc;
    background: #c1c7cd;
    transition: all 0.35s ease-in-out;
    -mos-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media-links li a i:hover {
    background: #8E857E;
    border-radius: 5px;
    margin: 2px;
}

/*---------------------------------------------Media Queries*/

/*-------------------------Small devices / tablets */
@media all and (min-width: 768px) {
    .menuitem span {
        min-height: 35px;
    }
    
    .band-bio {
        margin-left: 13vw;
        margin-right: 13vw;
        margin-top: 15px;
        margin-bottom: 15px;
    }

   .panel-warning {
        margin-left: 15vw;
        width: 35vw;
        min-width: 200px;
        margin-right: 15vw;
        margin-top: 10vh;
        font-size: small;
    }
    
    /*Band Info*/
    .bio-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .profile-pic {
        flex: 0 1 15%;
    }

    .profile-details {
       flex: 1 0 35%
    }
    /*Albums*/
     .grid-container {
         grid-template-areas:
        'album-cover album-title album-title'
        'album-cover track-header track-header'
        'album-cover tracks1 tracks2'
        'album-footer album-footer album-footer';
         grid-template-columns: auto auto auto;
     }
     .grid-container div {
         font-size: 18px;
     }
     
     div.item2 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    /*Videos*/
    .video-grid-container {
      display: grid;
      /*Desktop Layout*/
      grid-template-areas: 
      'main-video main-video main-video'
      'main-video-info main-video-info main-video-info'
      'more-video1 more-video2 more-video3'
      'more-video-title1 more-video-title2 more-video-title3';
      
      grid-template-columns: 1fr 1fr 1fr ;
      grid-gap: 0.5px;
      }
      
      .video-grid-container > div {
          padding: 25px 0;
      }
    
    /* Band Picture Gallery */
    .gallery-img-style {    
        width: 290px;
    }
    /*Booking Form and Reviews*/
   
    #booking-query-submit {
        margin-left: 50%;
        margin-top: 20px;
    }
    
    /*Footer*/
    #social-media {
        padding-left: 40vw;
    }
    .social-media-links {
        margin-left: 40vw;
    }
    
}

/*--------------------------Medium devices / desktops */
@media all and (min-width: 992px) {
    .menuitem span {
        min-height: 30px;
    }
    img.main-img {
    width: 460px;
    height: 330px;
    }
    
    .main-section {
      flex: 1 70%;
    }
    
    #index-main { height: 95vh; }
    
    .sidebar-section {
      flex: 1 30%;
    }
    
    #index-sidebar {
    overflow-y: auto;
    overflow-x: hidden;
}
    
    .band-bio {
        margin-left: 13vw;
        margin-right: 13vw;
        margin-top: 15px;
        margin-bottom: 15px;
    }

   .panel-warning {
        margin-left: 17vw;
        width: 35vw;
        margin-right: 17vw;
        margin-top: 10vh;
    }
    
    .audio-block {
        width: 230px;
    }
    .audio-block audio { 
        width: 215px; 
        margin:0;
    }
    
    /*Band Info*/
    .bio-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .profile-pic {
        flex: 0 1 15%;
    }

    .profile-details {
       flex: 1 0 35%
    }
    
    
    /* Band Picture Gallery */
    .gallery-img-style {    
        width: 270px;
        /*width: 350px;*/
    }
    /*Albums*/
     .grid-container {
         grid-template-areas:
        'album-cover album-title album-title'
        'album-cover track-header track-header'
        'album-cover tracks1 tracks2'
        'album-footer album-footer album-footer';
         grid-template-columns: auto auto auto;
     }
     .grid-container div {
         font-size: 18px;
     }
     
     div.item2 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    /*Videos*/
    .video-grid-container {
      display: grid;
      /*Desktop Layout*/
      grid-template-areas: 
      'main-video main-video main-video'
      'main-video-info main-video-info main-video-info'
      'more-video1 more-video2 more-video3'
      'more-video-title1 more-video-title2 more-video-title3';
      
      grid-template-columns: 1fr 1fr 1fr ;
      grid-gap: 0px;
      }
    
    /*Booking Form and Reviews*/
    .booking-container {
        flex: 1 65%;
    }
    
    #booking-query-submit {
        margin-left: 50%;
        margin-top: 20px;
    }
    .form-grid-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: 'Header Header Header Header'
      'Name Name Phone Phone' 
      'Email Email Email Email'
      'etype-label etype-label etype-label etype-label'
      'etype-options1 etype-options2 etype-options3 etype-options3'
      'etype-options4 etype-options5 etype-options5 etype-options5' 
      'loc-label loc-label date-label date-label'
      'loc-list loc-list date-picker date-picker'
      'submit-btn submit-btn submit-btn submit-btn';
      grid-gap: 0px;
      margin-bottom: 10px;
    }
    .form-grid-container > div {
      text-align: left;
      padding: 12px 25px;
      font-size: 14px;
      min-height: 50px;
    }
    #loc-label {
        padding-left: 50px;
    }
    /*Footer - Social Media*/
    #social-media {
        padding-left: 42vw;
    }
    .social-media-links {
        margin-left: 42vw;
    }


/*---------------------------Large devices / wide screens */
@media all and (min-width: 1200px) {
    .menuitem span {
        min-height: 30px;
    }
    .audio-block audio { 
        width: 270px;
    }
    
    /* Band Picture Gallery */
    .gallery-img-style {    
        height: 240px;
        width: 350px;
    }
}

